<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>userData</title>
  </head>
  <body>
    <h1>passing data from server to client</h1>
    <!-- accessing data from the server -->
    <h1>Welcome,<%=username%></h1>
    <p>Email : <%=email%></p>
    <p>Age : <%=age%></p>
    <% if(isPermitted) { %>
    <p>you are permitted to visit this page</p>
    <% }else{ %>
    <p>you are not permitted to visit this page</p>
    <% }%> <%=(islogin)?"you are logged in":"you are not logged in";%>
    
  </body>
</html>
